<div class="row">
    <div class="col">
        <h2>Below is a list of Marvel characters:</h2>
        <ul>
            {{#each character}}
                <li><a href="/character/{{this.id}}">{{this.name}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>